@font-face {
    font-family: 'The Artist';
    src: url('fonts/TheArtist Script.otf') format('otf'),
         url('fonts/TheArtist Script Extras.otf') format('otf'),
         url('fonts/TheArtist Sans.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
